<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Registro Empleados Cidenet</span>
    </div>
  </nav>
</header>
<section>
  <router-outlet></router-outlet>
</section>
<footer></footer>
